.gc-series-wrap h4 {
	clear: both;
	border-bottom: 1px solid rgba(0,0,0,.5);
	padding: .5em;
}

.gc-sermons-list {
	clear: both;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.gc-sermons-list:after {
	content: '';
	display: block;
	clear: both;
}

.gc-sermons-list:after {
	content: '';
	display: block;
	clear: both;
}

.gc-item {
	position: relative;
	display: block;
	list-style-type: none;
	float: left;
	padding: .5em;
}

.gc-1-cols .gc-item {
	float: none;
}

.gc-2-cols .gc-item {
	width: 50%;
}

.gc-3-cols .gc-item {
	width: 33.333333%;
}

.gc-4-cols .gc-item {
	width: 25%;
}

.gc-4-cols .gc-item h3 {
	font-size: 1.5em;
}

.gc-item, .gc-item * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gc-2-cols .gc-item:nth-child(2n+1),
.gc-3-cols .gc-item:nth-child(3n+1),
.gc-4-cols .gc-item:nth-child(4n+1) {
	clear: both;
}

.gc-item img {
	max-width: 100%;
	height: auto;
}

.gc-item-link {
	display: inline-block;
	position: relative;
	margin: 0;
	width: 100%;
	/*overflow: hidden;*/
}

.gc-no-thumb .gc-item-link {
	background-color: rgba(0,0,0,.5);
	padding: .9em .5em .95em;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
}

.gc-no-thumb .gc-item-link:hover {
	background-color: rgba(0,0,0,.7);
}

.gc-thumb .gc-item-link:hover .gc-sermons-shader,
.gc-thumb .gc-item-link:hover .gc-sermons-table-wrapper {
	opacity: 0;
}

.gc-sermons-table-wrapper {
	overflow: hidden;
}

.gc-sermons-shader,
.gc-sermons-table-wrapper,
.gc-item-link table {
	position: relative;
}

.gc-thumb .gc-sermons-shader,
.gc-thumb .gc-sermons-table-wrapper,
.gc-thumb table {
	position: absolute;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
}

.gc-thumb .gc-sermons-shader,
.gc-thumb .gc-sermons-table-wrapper,
.gc-item-link table {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.gc-item-link table {
	border: 10px solid transparent;
}

.gc-item-link img {
	display: block;
	position: relative;
	width: 100%;
}

.gc-item-link .gc-sermons-shader {
	background-color: rgba(0,0,0,.5);
}

.gc-item-link td {
	padding: 0;
	vertical-align: middle;
	background: none;
}

.gc-item h3 {
	color: #fff;
	font-size: 2em;
	position: relative;
	padding-bottom: 1.5em;
}

.gc-item h3:after {
	position: absolute;
	content: '→';
	font-family: monospace;
	font-size: 2em;
	display: block;
	line-height: .25em;
	text-align: center;
	bottom: .5em;
	height: 0;
	width: 100%;
	left: 50%;
	margin-left: -50%;
	padding: 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
}

.gc-no-thumb .gc-link:hover h3:after {
	font-size: 2.5em;
	bottom: .46em;
}

.gc-next-link {
	float: right;
}

.gc-next-link a span, .gc-prev-link a:before {
	display: inline-block;
	font-family: monospace;
	font-size: 2em;
}

.gc-prev-link a span {
	display: none;
}

.gc-prev-link a:before {
	/* Because &rarr; looks better w/ monospace font, so flip it. */
	content: '→';
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
}

.gc-prev-next:after {
	content: '';
	display: block;
	clear: both;
}

@media only screen and (max-width : 1000px) {

	.gc-item h3 {
		font-size: 1.5em;
	}

	.gc-4-cols .gc-item h3 {
		font-size: 1em;
	}

}

@media only screen and (max-width : 775px) {

	.gc-3-cols .gc-item,
	.gc-4-cols .gc-item {
		width: 50%;
	}

	.gc-3-cols .gc-item:nth-child(3n+1),
	.gc-4-cols .gc-item:nth-child(4n+1) {
		clear: none;
	}

	.gc-3-cols .gc-item:nth-child(2n+1),
	.gc-4-cols .gc-item:nth-child(2n+1) {
		clear: both;
	}

	.gc-4-cols .gc-item h3 {
		font-size: 1.5em;
	}

}

@media only screen and (max-width : 600px) {

	.gc-2-cols .gc-item,
	.gc-3-cols .gc-item,
	.gc-4-cols .gc-item {
		width: 100%;
	}

	.gc-item h3 {
		font-size: 1.4em;
	}

}
